.messenge-container {
    width: 100%;
    background-color: rgb(46, 45, 45);
    padding: 1rem;
    border-radius: 1rem;
    .form-input {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .input-text {
            width: 100%;
            font-size: 1.1rem;
            border: none;
            border-radius: 1rem;
            background-color: rgb(83, 83, 83);
            padding: 0.3rem 1rem;
            margin-left: 1rem;
            color: #ccc;
        }
        .input-url {
            @extend .input-text;
            width: 30%;
        }
        .submit {
            display: none;
        }
    }
    .messenge-sender-bottom {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid rgb(78, 78, 78);
        padding-top: 1rem;
        margin-top: 1rem;

        div {
            display: flex;
            justify-content: center;
        }
        .live {
            display: flex;
            align-items: center;
            color: gray;
            .icon {
                margin-right: 0.4rem;
                color: #f23e5c;
                font-size: 2rem;
            }
        }
        .image {
            @extend .live;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            position: relative;
            .progress {
                position: absolute;
                top: -0.8rem;
                left: 2rem;
                color: lightgreen;
                font-weight: bold;
            }
            .icon {
                color: #58c472;
                position: relative;
                #image {
                    position: absolute;
                    top: 0;
                    z-index: -1;
                }
            }
            &:hover {
                background-color: #3a3b3c;
            }
        }
        .feeling {
            @extend .live;
            .icon {
                color: #f8c03e;
            }
        }
    }
}
