* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
    ::-webkit-scrollbar {
        width: 7px;
    }
    ::-webkit-scrollbar-track {
        background: #888;
        border-radius: 1rem;
    }
    ::-webkit-scrollbar-thumb {
        background: #535353;
        border-radius: 1rem;
    }
}
body {
    background-color: #18191a;
}
main {
    .avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .content-app {
        width: 40%;
        margin: 0 auto;
        .content-center {
            width: 100%;
        }
    }
}
